@using SGDP.Core.Application.ViewModels.User
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <form method="post" asp-controller="User" asp-action="Login">
                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label">Nombre de usuario</label>
                            <input class="form-control" asp-for="UserName">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña</label>
                            <input class="form-control" asp-for="Password">
                        </div>
                        <button type="submit" class="btn btn-outline-info">Iniciar Sesion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
