@using SGDP.Core.Application.ViewModels.Result;
@model ResultLabViewModel
@{
    ViewData["Title"] = "Delete Result";
}

<div class="row" style="margin-top: 40px;">

    <div class="col-6 offset-3">

        <div class="card">

            <div class="card-header bg-danger text-light">

                <h4>Esta seguro que desea eliminar el resultado?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Result" asp-action="DeletePostResult">
                    <input type="hidden" asp-for="IdLabTest" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Result" asp-action="Index" class="btn btn-warning">Cancelar</a>
                </form>
            </div>

        </div>

    </div>

</div>
