@using SGDP.Core.Application.ViewModels.Result
@model ResultLabViewModel
@{
    ViewData["Title"] = "SendResult";
}

<div class="container-fluid" style="margin-top: 20px;>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light text-center">
                    <h4 class="text-center">Resultado de prueba de laboratorio</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Result" asp-action="SendResult" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="Result" class="form-label">Nombre de la prueba: </label>
                            <textarea type="text" asp-for="Result" class="form-control" placeholder="Escriba con detalle el resultado de la prueba"></textarea>
                            <span asp-validation-for="Result" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="IdLabTest" />

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="Result" asp-action="Index" class="btn btn-warning">Volver atras</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

